.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.footer {
    padding: 2rem;
    text-align: center;
    background-color: var(--color-black);
    border-top: 1px solid var(--color-primary-blue);
    color: var(--color-text-muted);
    font-style: italic;
    font-size: 0.8rem;
}

.privateBody {
    display: flex;
    flex: 1;
}

@media (max-width: 768px) {
    .main {
        padding: 1rem;
    }
}